# Database Configuration for Real MySQL / MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=school_action_plan
DB_USER=root
DB_PASS=

# Initial Super Admin Default Credentials
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=password123
